                @import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap');
                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    list-style-type: none;
                    font-family: "Archivo", sans-serif;
                }
                
                .nav {
                    width: 20px;
                    height: 46px;
                    border-radius: 50%;
                    margin-top: -6px;
                    /* margin-left: 200px; */
                }
                
                li {
                    list-style: none;
                }
                
                .main {
                    display: flex;
                    justify-content: space-between;
                }
                
                .left-side {
                    margin-left: 120px;
                    margin-top: 20px;
                }
                
                .m-t-img {
                    display: none;
                }
                
                .right-side {
                    height: 100vh;
                }
                
                .l-img {
                    height: 100%;
                    width: 100%;
                    min-height: 200px;
                    max-height: 900px;
                }
                
                p {
                    color: #585857;
                    font-size: 15px;
                    margin-top: 1px;
                    /* margin-left: 200px; */
                }
                
                h2 {
                    font-size: 30px;
                    margin-top: 20px;
                    /* margin-left: 200px; */
                    nav-down: 200px;
                }
                
                ul li {
                    font-size: medium;
                    margin-top: 20px;
                    /* margin-left: 200px; */
                }
                
                .btn {
                    color: #FFFFFF;
                    size: 30px;
                    background: #000;
                    font-size: 15px;
                    margin-top: 50px;
                    /* margin-left: 200px; */
                    background-color: black;
                    height: 50px;
                    width: 200px;
                    color: white;
                    border: 2px solid black;
                    padding: 10px;
                    border-radius: 5px;
                }
                
                @media (max-width:768px) {
                    .l-img {
                        display: none;
                    }
                    .main {
                        margin-left: -70px;
                    }
                    .m-t-img {
                        display: block;
                        margin-left: -40px;
                    }
                }
                
                @media(max-width:426px) {
                    .left-side {
                        margin-left: 40px;
                    }
                    .main {
                        margin-left: -20px;
                    }
                }