@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600&display=swap');
* {
    margin: 3px;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Archivo", sans-serif;
}

.main {
    justify-content: space-between;
    display: flex;
}

.nav {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: -6px;
    justify-content: space-between;
    width: 100%;
    display: flex;
}

.right-side {
    background-color: #f3e2cf;
    text-align: center;
    height: 100%;
    max-height: 1000px;
    min-height: 700px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 40px;
    display: flex;
    flex-direction: column;
    margin-top: -84px;
}

.btn {
    color: #FFFFFF;
    size: 30px;
    background: #000;
    font-size: 15px;
    background-color: black;
    height: 50px;
    width: 500px;
    color: white;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
}

.user {
    display: flex;
    align-items: center;
}

h4 {
    font-size: x-large;
    max-width: 60%;
    line-height: 40px;
}

.user-right {
    text-align: initial;
}

label {
    margin-bottom: 10px;
}

.textbox {
    display: flex;
    flex-direction: column;
    padding: 30px 2px;
    box-sizing: inherit;
}

input {
    padding: 10px;
    margin-bottom: 10px;
}

.left-side {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* margin: 10px 40px; */
    margin-left: 120px;
    margin-top: 20px;
}